@import "tailwindcss";

@layer base {
  :root {
    --black-color: #040000;
    --green-color: #058240;
    --light-green-color: #87c159;
    --grey-color: #adcacb;
    --ocean-color: #b3dbdb;
    --light-ocean-color: #d5f2ed;
    --sand-color: #fade98;
    --orange-color: #e6c731;
  }
}

@layer utilities {
  .wrapper {
    @apply max-w-7xl lg:mx-auto px-[20px] py-[25px] md:px-[32px] md:py-[28px] xl:px-[96px] xl:py-[29px] w-full;
  }
}
